h2 {
  border: 3px solid gray;
  padding: 10px;
  background-color: #f0e68c;
}

/* Уникальные фоны для каждого компонента */
.dresses {
  background-color: aqua;
}

.jeans {
  background-color: greenyellow;
}

.sweaters {
  background-color: gold;
}
